{% load static from staticfiles %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Peko Peko No Neko</title>

    <link rel="stylesheet" href="{% static 'css/titlescreen.css' %}">

    <script src="{% static 'js/vendor/jquery-1.11.2.js' %}"></script>
</head>

<body>
    <div class="container" id="title-screen">
        <div class="title">
            Peko Peko No Neko
        </div>
        <div class="start-message">
            Press any key to start
        </div>
    </div>
</body>
<script src="{% static 'js/titlescreen.js' %}"></script>
</html>