body{
    background-image: url('../img/FondoSong.png');
    background-size: 100%;
}
#gifCanvas{
    width: 68% !important;
    padding-left: 27% !important;
}
#container #canvas-1, #gordo {
    position: absolute !important;
}