
* {
    padding: 0;
    margin: 0;
}
canvas{
    display: flex;
    
    max-width: 82%;
}

nav.navbar {
    background-color: black;
    min-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.project-name {

    color: whitesmoke;
    text-decoration: none;
}

.cronometro {
    font-size: x-large;
    margin-left: 60px;
}
#info{
    width: 18%;
    height: 242px;
}
#puntos {
    font-size: x-large;
    margin-left: 60px;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

#puntos2{
    font-size: x-large;
    margin-left: 60px;
    margin-top: 3%;
}

#bg-player1 {
    position: absolute;
    top: 35%;
    width: 100%;
    
}

#bg-player1>canvas {
    position: absolute;
    left: 18%;
    top: 0;
}

#bg-player2 {
    position: absolute;
    top: 515px;
}

#bg-player2>canvas {
    position: absolute;
    left: 18%;
    top: 0;
}

.mdc-typography{
    text-align: center;
}

.mdc-button {
    color: teal !important;
}

.mdc-card {
    height: auto;
    width: 23%;
    padding: 1%;
}

.mdc-card__actions{
    justify-content: center !important;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

