* {
    padding: 0;
    margin: 0;
}
canvas{
    padding-left: 15,5%;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
}

nav.navbar {
    background-color: black;
    min-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.project-name {
    color: whitesmoke;
    text-decoration: none;
}

.cronometro {
    font-size: x-large;
    margin-left: 60px;
}

#puntos {
    font-size: x-large;
    margin-left: 60px;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

#puntos2{
    font-size: x-large;
    margin-left: 60px;
    margin-top: 3%;
}

#bg-player1 {
    position: relative;
    top: 190px;
    left: -196px;
}

#bg-player1>canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#bg-player2 {
    position: relative;
    top: 515px;
    left: -196px;
}

#bg-player2>canvas {
    position: absolute;
    left: 0;
    top: 0;
}