@import url('https://fonts.googleapis.com/css?family=Short+Stack&display=swap');

* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #33a79e;
}

.titulo {
    color: #d5d8e9;
}

body {
    font-family: 'Short Stack', cursive;
    background-image: url("../img/titlescreencats.jpg");
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.title {
    display: flex;
    justify-content: center;
    color: #d5d8e9;
    font-size: xx-large;
    font-weight: bold;
}

.data-container {
    display: flex;
    justify-content: center;
}

.signup_user {
    background-color: #d5d8e9;
    border-radius: 3%;
    padding: 3%;
    width: 35%;
}

.data {
    padding-top: 2%;
    padding-bottom: 2%;
}

.texto {
    display: flex;
    justify-content: space-between;
}

input {
    width: 50%;
}

button {
    font-family: 'Short Stack', cursive;
    justify-self: center;
    border-radius: 2%;
    background-color: #33a79e;
    padding: 1%;
    margin-left: 38%;
}

.mensaje_error {
    margin-top: 7%;
}

#tablaDeGatos {
    border: 1px black;
    overflow: hidden;
    width: 800px;
    padding: 10px;
  }
#tablaDeGatos li{
    display: flex;
    flex-direction: column-reverse;
    
}

  .element {
    list-style: none;
    width: 105px;
    height: 150px;
    float: left;
    margin: 5px;
  }

  .seleccionable:hover {
    background-color: #cc99ff;
    border-radius: 5px;
  }

  .seleccionado{
    background-color: #b366ff;
    border-radius: 5px;
  }