@import url('https://fonts.googleapis.com/css?family=Short+Stack&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/titlescreencats.jpg");
    background-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: -webkit-fill-available;
}

.title, .start-message {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.title {
    font-family: 'Short Stack', cursive;
    text-shadow: 6px 4px 8px darkslategrey;
    font-size: 60px;
}

.start-message {
    animation: blink 2s linear infinite;
    font-family: 'Short Stack', cursive;
    font-size: x-large;
    color: snow;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}