<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        <div class="container">
            <form action="crea/Fase2" method="post" enctype="multipart/form-data" target="_blank">
                <p>
            
                    Nombre de la cancion:
                
                    <input type="text" name="namesong">
                    
                    Nombre del autor de la canción:

                    <input type="text" name="nameauthor">
                    
                    Imagen que quieres que se muestre:

                    <input type="file" name="imagen">

                    Archivo de audio de la cancion:

                    <input type="file" name="song">
            
                    <input type="submit" value="Enviar datos">
                           
                </p>
            
            </form>
        </div>
    </body>
</html>