<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/crea.css">
        
    </head>

    <body>
        <div class="container">
            <div class="card">
            <form action="crea/Fase2" method="post" class="centred-form" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="namesong" class="field-input" required>
                    <label for="namesong" class="field-label">Nombre de la canción</label>
                </div>
                <div class="field">
                    <input type="text" name="nameauthor" class="field-input" required>
                    <label for="nameauthor" class="field-label">Nombre del autor de la canción</label>
                </div>
                <div class="field">           
                    <input class="field-input" name="Imagen" type="text" readonly/>    
                    <label for="Imagen" class="field-label" id="img">Imagen</label>     
                    <div class="image-upload">
                        <label for="image-input"><img src="../img/attach_file-24px.svg"/></label>
                        <input type="file" id="image-input" name="imagen" accept="image/*" required>                      
                    </div>
                </div>
                <div class="field">           
                    <input class="field-input" name="Cancion" type="text" readonly/>   
                    <label for="Cancion" class="field-label" id="mp3">Cancion</label>        
                    <div class="image-upload">
                        <label for="song-input"><img src="../img/attach_file-24px.svg"/></label>
                        <input type="file" id="song-input" name="song" accept="audio/*" required>                      
                    </div>
                </div>
                <br><br><br>
                <input type="submit" value="Enviar datos">
            
            </form>
            </div>
        </div>
    </body>
    <script>
        document.getElementById("image-input").onchange = function () {
            document.getElementById("img").innerHTML = this.files[0].name;
        };
        document.getElementById("song-input").onchange = function () {
            document.getElementById("mp3").innerHTML = this.files[0].name;
            
        };
    </script>
</html>