<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>
        Editar perfil - PekoPekoNoNeko</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/sesion.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/signup.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/hamburguesa.css" />
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/ripple.js"></script>
    <script src="../js/avatarSelection.js"></script>
</head>
<input type="checkbox" id="navi-toggle" class="checkbox" />
<label for="navi-toggle" class="button">
    <span class="icon">&nbsp;</span>
</label>
<div class="background">&nbsp;</div>

<!-- nav -->
<nav class="nav">
    <ul class="list">
        <li class="item"> <a href="/canciones/" class="link"> Jugar </a> </li>
        <li class="item"> <a href="/score/scoreslist" class="link"> Puntuaciones </a> </li>
        <li class="item"> <a href="/users/editarPerfil" class="link"> Editar perfil </a> </li>
        <li class="item"> <a href="/users/logout" class="link"> Cerrar Sesión </a> </li>
    </ul>
</nav>

<body>
    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>PekoPekoNoNeko</h1>
            </div>
        </div>


        <div class="body">
            <div class="container">

                <div class="titulo_ventana">
                    <h2>Editar perfil</h2>
                </div>

                <div class="data-container">

                    <form class="edit_profile" method="post" action="/users/editarPerfil">
                        <div class="data email_signup">
                            <div class="texto">
                                <h2> Email: </h2>
                                <input type="text" name="email_user" value="<%= user.Email %>">
                            </div>
                        </div>

                        <div class="data nombre_completo">
                            <div class="texto">
                                <h2> Nombre completo: </h2>
                                <input type="text" name="name_user" value="<%= user.Name %>">
                            </div>
                        </div>

                        <div class="data imagen_perfil">
                            <div class="texto">
                                <h2> Imagen de perfil: </h2>
                                <input type="hidden" name="userAvatar" id="avatar" value="Blue">
                                <ul id="tablaDeGatos">
                                    <li class="element seleccionable" id="Blue" onclick="cambiarClases(id)">
                                        <p id="buff">Multiplica los aciertos</p>
                                        <img src="/img/Blue.png" width="121px" height="128px">
                                    </li>
                                    <li class="element seleccionable" id="Chesire" onclick="cambiarClases(id)">
                                        <p id="buff">500 puntos extra</p>
                                        <img src="/img/Chesire.png" width="109px" height="122px">
                                    </li>
                                    <li class="element seleccionable" id="Logan" onclick="cambiarClases(id)">
                                        <p id="buff">Acierto mayor</p>
                                        <img src="/img/Logan.png" width="100px" height="145px">
                                    </li>
                                    <li class="element seleccionable" id="Mery" onclick="cambiarClases(id)">
                                        <p id="buff">Multiplica dangos x 3</p>
                                        <img src="/img/Mery.png" width="108px" height="122px">
                                    </li>
                                    <li class="element seleccionable" id="Pelusa" onclick="cambiarClases(id)">
                                        <p id="buff">Salva la racha</p>
                                        <img src="/img/Pelusa.png" width="107px" height="144px">
                                    </li>
                                    <li class="element seleccionable" id="Perla" onclick="cambiarClases(id)">
                                        <p id="buff">No penaliza fallos</p>
                                        <img src="/img/Perla.png" width="107px" height="105px">
                                    </li>
                                </ul>
                                </input>
                            </div>
                        </div>

                        <button class="boton_aceptar" type="submit"> Actualizar </button>
                    </form>
                </div>
                <% if (errorMsg !== null ) { %>
                <div class="mensaje_error">
                    <h4>
                        <%= errorMsg %>
                    </h4>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>