<!doctype html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Playing</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">  
  <link rel="stylesheet" type="text/css" media="screen" href="../css/game.css">
  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script src="../js/main.js"></script>
</head>

<body>
    <div>
        <h1><%=datos.songid%></h1>
        <h1><%=datos.puntos%></h1>
    </div>
</body>

</html>