<!doctype html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Playing</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/scoreScreen.css">  
  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script src="../js/ripple.js"></script>
</head>

<body>
  <div class="card">
    <div class="ripple"></div>
    <div class="ripple"></div>
    <div class="panel top">
      <div class="rank">Points</div>
      <div class="suit"><%=data[2]%></div>
      <div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px"
          viewBox="0 0 18.2 17" enable-background="new 0 0 18.2 17" xml:space="preserve">
          <path fill="#d64c4c"
            d="M18.2,4.5c0-2.5-2-4.5-4.5-4.5c-2.5,0-4.5,2-4.5,4.5h0C9.1,2,7,0,4.5,0C2,0,0,2,0,4.5 c0,1.2,0.5,2.4,1.3,3.2h0L9.1,17l7.8-9.3h0C17.7,6.9,18.2,5.8,18.2,4.5z" />
          </svg></div>
    </div>
    <div class="content #{className}">
      <div><img class="song" src="../img/<%=data[4]%>"></div>
    </div>
   
    <div class="panel bottom">
      <div class="rank">Points</div>
      <div class="suit"><%=data[2]%></div>
      <div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="#{width}" height="#{height}"
          viewBox="0 0 18.2 17" enable-background="new 0 0 18.2 17" xml:space="preserve">
          <defs>
            <pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
              <image xlink:href="../img/RojoChiquito2.png" x="0" y="0" width="21" height="21" />
            </pattern>
          </defs>
          <rect width="21" height="21" fill="url(#img1)" />
          </svg></div>
    </div>
  </div>   
  <button id="mainmenu" class="rkmd-btn btn-lightBlue ripple-effect" onclick="window.location.href = '/canciones';">Ir a canciones</button> 
</body>

</html>