* {
    padding: 0;
    margin: 0;
}

nav.navbar {
    background-color: black;
    min-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

#primero {
    height: 198px;
    background-color: #FF94C3;
    opacity: inherit;
    opacity: 0.5;
    margin-bottom: 3%;
}

.img {
    position: absolute;
    margin-top: -121px;
    top: 40px;
}

#circulo {
    top: 190px;
    width: 50px;
    position: absolute;
    right: 0px;
}

#meta {
    background-color: black;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 190px;
    right: 1325px;
}

.project-name {
    color: whitesmoke;
    text-decoration: none;
}

.cronometro {
    font-size: x-large;
    margin-left: 60px;
}

#puntos {
    font-size: x-large;
    margin-left: 60px;
    margin-top: 3%;
}

#bg {
    position: relative;
    top: 190px;
    left: -146px;
}

#bg>canvas {
    position: absolute;
    left: 75px;
    top: 0;
}
#bg2 {
    position: relative;
    top: 490px;
    left: -146px;
}

#bg2>canvas2 {
    position: absolute;
    left: 75px;
    top: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















